body {
  background-image: url(./background-class.jpg);
}

.chalkboard{
  background-image: url(./chalkboard.jpg);
  border-style: solid;
  border-width: 20px;
  border-color: darkgoldenrod;
  height: 50vh;
  width: 50vw;
}

.App{
  position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
}